# 数据集（通常很大，且 Kaggle 上已有）
/data/

# 忽略 run 文件夹内的具体文件（但保留文件夹）
/run/savemodel/*
/run/submission/*
!/run/savemodel/.gitkeep
!/run/submission/.gitkeep

# 忽略 weights 文件夹内的所有文件，但保留文件夹
/weights/*
!/weights/.gitkeep

# PyCharm 项目配置（每个人的本地配置不同）
.idea/

# Python 虚拟环境（通常不提交）
venv/
env/

# Python 缓存文件
__pycache__/
*.pyc